/* work sans font by google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap");

/* shared content */

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.text-gray {
  color: #727272;
  line-height: 26px;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
.btn-primary {
  color: white;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border-radius: 8px;
  background: #ff900e;
}
section {
  margin-top: 100px;
}
.section-title {
  color: #131313;

  font-size: 2.81rem;

  font-weight: 700;
}
/* header section styles */

header {
  background: rgba(255, 144, 14, 0.1);

  max-width: 1920px;
  padding: 50px 240px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
}
nav li a {
  text-decoration: none;
  color: #424242;
  font-size: 1.125rem;
}

/* banner section styles*/

.banner-contents {
  max-width: 860px;
  text-align: center;
  margin: 0 auto;
}

.banner-title {
  color: #131313;

  font-size: 4rem;

  font-weight: 700;
  padding: 100px 0 30px 0;
}

.banner-img-container img {
  margin-top: 50px;
  width: 100%;
}
/* main styles */
main {
  max-width: 1440px;
  margin: 0px auto;
}

/* team section styles */
.team-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-img-contianer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-content {
  padding: 0 70px;
}
.team-title {
  font-size: 2.9rem;
  font-weight: 700;
  width: 468px;
}
.team-title .quick-list {
  color: #727272;
  font-weight: 500;
}
.team-title .text-features {
  color: #ff900e;
  font-weight: 700;
}

/* features section styles */
.features-section {
  display: flex;
  gap: 140px;
}

.features-content .section-title {
  border-left: 5px solid #ff900e;
  padding-left: 20px;
}
.features-card {
  margin-top: 50px;
}
.features-card-title {
  color: #131313;

  font-size: 20px;

  font-weight: 600;
}

.ten-years-badge {
  width: 342px;
  position: relative;
  border-radius: 8px;
  background-color: #ff900e;
  text-align: center;
  color: #fff;
  padding: 40px;
  bottom: 100px;
  left: -90px;
}

.ten-years-badge h2 {
  font-size: 65px;

  font-weight: 700;
  line-height: 70px; /* 107.692% */
}
.ten-years-badge p {
  font-size: 25px;

  font-weight: 500;
  line-height: 40px;
}
/* some facts section styles */
.facts-card-container {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.facts .card {
  padding: 40px 30px;
  border: 1px solid #ff900e;
  border-radius: 15px;
  text-align: center;
}
.facts .card img {
  margin: 0 auto;
}
.facts .card-stats {
  color: #424242;
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.facts .card-title {
  color: #727272;

  font-size: 20px;

  font-weight: 600;
}

/* sponsor section styles */
.sponsors {
  margin-top: 180px;
}
.sponsors .section-title,
.sponsors .text-gray {
  text-align: center;
}

.sponsors-img-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}
.sponsors-img-container img {
  filter: saturate(0);
}

.sponsors-img-container img:hover {
  filter: saturate(1);
}
/* footer related styles */
.footer {
  border-radius: 8px;
  background: #fff4e7;
  padding: 40px;
  text-align: center;
  max-width: 1440px;
  margin: 130px auto;
}

.footer-text {
  font-size: 1.25rem;
  color: #424242;
}

/* responsive media queries */

@media screen and (max-width: 576px) {
  header,
  .text-gray {
    padding: 20px;
  }
  nav,
  .facts-card-container,
  .features-section {
    flex-direction: column;
    gap: 20px;
  }
  nav li {
    margin: 10px;
  }
  .banner-title {
    padding: 50px 0;
  }
  .team-section {
    flex-direction: column-reverse;
  }
  .team-img-contianer {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-content {
    text-align: center;
    padding: 20px;
  }
  .facts-card-container .card {
    width: 70%;
    margin: 0 auto;
  }
  .section-title,
  .features-card-title {
    text-align: center;
  }
  .team-title {
    width: auto;
  }
  .sponsors-img-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
  }
  .sponsors-img-container img {
    width: 11.25rem;
  }
  .features-img-container img {
    width: 80%;
    padding: 30px;
  }

  .features-section .section-title {
    padding: 10px;
  }
  .features-section .ten-years-badge {
    position: static;
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 50px;
  }
  nav,
  .features-section {
    flex-direction: column;
    gap: 20px;
  }
  .team-section {
    flex-direction: column-reverse;
  }
  .team-img-contianer {
    margin-top: 20px;
  }
  .section-title,
  .team-content,
  .team-title,
  .features-card-title {
    margin: 0 auto;
    text-align: center;
  }
  .text-gray {
    text-align: center;
    padding: 10px;
  }
  .card {
    width: 40%;
  }
  .facts .facts-card-container {
    gap: 20px;
    flex-wrap: wrap;
  }
  .sponsors-img-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
  }
  .features-img-container img {
    width: 100%;
  }
  .ten-years-badge {
    position: static;
    width: 70%;
    margin: 0 auto;
  }
}
